// main: ../main.scss
/*--------------------------------------------------------------
# Abstract Section
--------------------------------------------------------------*/
.abstract {
  .content {
    ul {
      list-style: none;
      padding: 0;

      p {
        font-size: 1.25rem;
      }
    }

    p:last-child {
      margin-bottom: 0;
    }
  }
}