// main: ../main.scss
/*--------------------------------------------------------------
# Video Section
--------------------------------------------------------------*/
.video {
  .content-title {
    color: var(--accent-color);
    margin-bottom: 30px;
  }

  .btn-cta {
    text-transform: uppercase;
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: var(--accent-color);
    color: var(--contrast-color);
    border-radius: 6px;
  }

  .list-check {
    margin-bottom: 50px;

    li {
      display: block;
      padding-left: 30px;
      position: relative;

      &:before {
        content: "\f26e";
        display: inline-block;
        font-family: "bootstrap-icons" !important;
        font-style: normal;
        font-weight: normal !important;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        vertical-align: -0.125em;
        -webkit-font-smoothing: antialiased;
        position: absolute;
        top: 0.1rem;
        font-size: 20px;
        left: 0;
        color: var(--accent-color);
      }
    }
  }

  .pulsating-play-btn {
    position: absolute;
    left: calc(50% - 47px);
    top: calc(50% - 47px);
  }
}